PORT=5001
MONGODB_URI=mongodb+srv://logesh:logesh123@cluster0.abcde.mongodb.net/meetscribe?retryWrites=true&w=majority
JWT_SECRET=yoursecretkeyhere12345
OPENAI_API_KEY=sk-proj-placeholder-replace-me
NODE_ENV=development
